* {
  border: none;
  font-family: "Montserrat";
  overflow-x: hidden;
}

body {
  background: #FEF4E7;
  margin: 0;
}

.c {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

header {
  background: #FEF4E7;
  height: 90px;
}

nav {
  margin: 0 22.5px 0 22.5px;
  transform: translate(0, 22.5px);
  height: 45px;
  display:flex;
  gap: 4px;
  justify-content: center;
}

header img {
  height: 45px;
  position: fixed;
  top: 22.5px;
  left: 22.5px;
}

button {
  border-radius: 22px;
  cursor: pointer;
  position: relative;
  background: black;
  border: 1px #ffffff32 solid;
  color: white;
  width: 128px;
  height: 45px;
}

.h {
  border: 1px solid #e0e0e0;
  position: absolute;
  top: 105px;
  height: calc(100% - 115px);
  width: 85vw;
  left: 7.5vw;
}

iframe {
  position: absolute;
  top: 90px;
  height: calc(100vh - 90px);
  width: 100vw;
}

button:hover {
  transform: scale(0.95);
  border: 1px #ffffff64 solid;
  filter: contrast(0.8) brightness(0.8);
}

button:active {
  transition-duration: 200ms;
  transform: scale(0.8);
  border: 1px transparent solid;
  filter: brightness(0.5) contrast(1.2);
}

body {
  background-image: linear-gradient(to right, #0000000d 1px, transparent 1px), linear-gradient(to bottom, #0000000d 1px, transparent 1px);
}

p {
  color: gray;
  margin-top: 1px;
  font-size: 18px;
}

button.a {
  background-color: #E00C5C;
  border-color: #E00C5C;
}

.e {
  width: 152px;
  padding-left: 22px;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-bottom: 2px;
  background-color: rgb(0, 0, 0);
}

.e:hover{
  filter: none;
  opacity: 0.8;
}

.e1 {
  background-position: 42px 14px;
  background-image: url('home.webp');
}

.e2 {
  background-position: 28px 14px;
  background-image: url('github.webp');
}

.e3 {
  background-position: 36px 14px;
  background-image: url('docs.webp');
}

.e4 {
  background-position: 46px 14px;
  background-image: url('logo-rounded.webp');
}

.e5 {
  background-position: 36px 14px;
  background-image: url('docs/control.webp');
}

img {
  pointer-events: none;
  user-select: none;
}

#x {
  width: 54.5vw;
  padding-top: 20px;
  pointer-events: all;
}

#x:hover {
  filter: brightness(1.5)
}

button {
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes fadeIn {
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}

#technologies {
  display: inline-flex;
  gap: 8px;
  user-select: none;
}

#technologies>p {
  height: 20px;
  background-color: #FAECDD;
  border: 1px solid #DECEBC;
  color: rgb(94, 81, 78);
  font-size: 14px;
  padding: 4px 7px 3px 8px;
  border-radius: 14px;
  margin-bottom: 0;
}

.unlicense
{
  background-color: #E00C5C !important;
  border: 1px solid #b82964 !important;
  color: rgb(255, 255, 255) !important;
}