.sidebar {
  animation: fadeInDown 1s cubic-bezier(0.23, 1, 0.320, 1);
}

iframe{
    animation: fadeInDown 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
