* {
  overflow: hidden;
  border: none;
  font-family: "Montserrat";
  overflow-x: hidden;
}

body {
  background: #000000;
  margin: 0;
  background-size: 2rem 2rem;
  background-image: linear-gradient(to right, #ffffff0d 1px, transparent 1px), linear-gradient(to bottom, #ffffff0d 1px, transparent 1px);
}

body * {
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header {
  background: black;
  height: 90px;
  border-bottom: 1px solid rgb(19, 19, 19);
}

header img {
  height: 45px;
  position: fixed;
  top: 22.5px;
  left: 202px;
}

header .button {
  position: fixed;
  top: 27px;
  left: 22.5px;
}

header p {
  position: fixed;
  top: 20px;
  left: 258px;
  color: white;
}

.v-s {
  position: absolute;
  height: 100%;
  margin: 1rem 0 1rem 0;
  width: 1px;
  background-color: rgb(32, 32, 32);
  height: 56px;
  left: 184px;
}

.button {
  user-select: none;
  display: inline-block;
  box-sizing: border-box;
  min-height: 30px;
  width: auto;
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 0.5rem;
  padding-left: calc(0.5rem + 22px);
  background-image: url("b.webp");
  background-repeat: no-repeat;
  background-position: 4px 7px;
  cursor: pointer;
}

.button:hover {
  background-position: 1px 7px;
  filter: brightness(0.6);
}

.button:active {
  transition-duration: 0.04s;
  filter: brightness(0.4);
}

.sidebar {
  position: absolute;
  min-width: 311px;
  height: calc(100% - 90px);
  background-color: rgb(12, 12, 12);
  border-right: 1px solid rgb(19, 19, 19);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  animation: fadeInDown 1s cubic-bezier(0.23, 1, 0.320, 1);
}

::-webkit-scrollbar {
  width: 10px;
  transition: all 0.2 cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f118;
}

::-webkit-scrollbar-thumb {
  background: #88888850;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
}

.list {
  color: gray;
  padding-bottom: 0px;
  padding-top: 0px;
  border-radius: 8px;
}

.list li {
  background-color: rgba(48, 48, 48, 0.25);
  color: rgb(187, 187, 187);
  border-radius: 12px;
  padding: 0.1rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-left: 2.5rem;
  cursor: pointer;
  margin-bottom: 4px;
  box-sizing: border-box;
  margin-right: 16px;
  background-image: url('file.webp');
  background-repeat: no-repeat;
  background-position: 14px 13px;
  max-width: 320px;
  padding-right: 1rem;
}

.list li:hover {
  background-color: rgba(48, 48, 48, 0.6);
}

.list li:active {
  transition-duration: 0.1s;
  background-color: rgba(48, 48, 48, 0);
}

ul p {
  color: rgb(212, 212, 212);
  padding-left: 24px;
  margin-bottom: 0.5rem;
  margin-top: 4px;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  font-weight: bold;
}

ul * {
  user-select: none;
}

#k {
  background-image: url("component.webp");
}

#l {
  background-image: url("control.webp");
}

#n {
  background-image: url("miscallenous.webp");
}

main {
  background-color: rgb(14, 14, 14, 0.8);
  position: absolute;
  width: calc(100% - 409px);
  left: 400px;
  top: 98px;
  height: calc(100vh - 106px);
  border: 1px solid rgba(128, 128, 128, 0);
  border-top-color: rgba(128, 128, 128, 0.25);
  border-left-color: rgba(128, 128, 128, 0.25);
  border-radius: 12px 0 0 0;
  padding: 4px;
}

.s-b:last-child {
  padding-bottom: 128px;
}

iframe {
  width: 100%;
  height: 100%;
  animation: fadeInDown 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-container {
  width: 100vw;
  height: 90px;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: visible;
  margin-left: -24px;
  pointer-events: none;
}

.search-container>input {
  z-index: 2;
  width: 284px;
  height: 42px;
  margin-right: 6px;
  color: rgb(194, 194, 194);
  font-weight: normal;
  padding: 2px 0 2px 42px;
  background-color: #070707;
  border: 2px solid rgb(36, 36, 36);
  border-radius: 14px;
  transition: all 0.15s cubic-bezier(0.215, 0.610, 0.355, 1);
  pointer-events: all;
}

.search-container:has(> input)::before {
  content: "";
  position: relative;
  display: inline-flex;
  left: 38px;
  top: 0;
  z-index: 4;
  margin: 0;
  padding: 0;

  opacity: 0.15;
  width: 24px;
  height: 24px;
  background: url("search.webp") no-repeat;

  pointer-events: none;
}

.search-container>input:hover {
  border-color: rgb(56, 56, 56);
}

.search-container>input::placeholder {
  transition: all 0.15s cubic-bezier(0.215, 0.610, 0.355, 1);
  font-weight: bold;
  color: #2c2c2c;
}

.search-container>input:hover::placeholder {
  color: #292929;
}

.search-container>input:focus::placeholder {
  color: #2c2c2c8f;
}

.search-container:has(> input:placeholder-shown)::after {
  border-radius: 5px;
  border: 1px solid #181818;
  z-index: 4;
  color: rgb(58, 58, 58);
  font-size: 12px;
  padding: 2px 4px;
  font-weight: bold;
  line-height: 16px;
  content: "Ctrl + K";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

input:focus {
  outline: none;
  box-shadow: none;
}

.align-top {
  align-items: start;
  margin-top: 24px;
}

.search-results-container {
  z-index: 1;
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: visible;
  width: calc(294px + 16px);
  min-height: calc(60px + 52px);
  height: fit-content;
  color: rgb(194, 194, 194);
  font-weight: normal;
  padding: 2px 16px 8px 16px;
  background-color: #070707;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 18px;
  transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  box-shadow: 0 0 64px 24px black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-container:has(> input:focus) .search-results-container {
  visibility: visible;
  opacity: 1;
  animation: fadeIn 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.no-results {
  color: #404040;
  position: relative;
  left: 0;
  text-align: center;
  padding-top: 20px;
}

.search-results-container>button:first-of-type {
  margin-top: 64px;
}

.search-results-container>button {
  width: calc(100% + 16px);
  background-color: rgb(17, 17, 17);
  border-radius: 12px;
  text-decoration: none;
  z-index: 3;
  margin-left: -8px;
  padding: 0;
  font-size: 14px;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #4b4b4b;
  background-position: 16px 16px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-results-container>button:hover {
  background-color: rgb(31, 31, 31);
  color: rgb(207, 207, 207);
}

.search-results-container:has(button) .no-results {
  display: none;
}

.search-result-docs {
  padding-left: 42px !important;
  background-image: url("../logo-rounded.webp");
}

.search-result-control {
  padding-left: 42px !important;
  background-image: url("./control.webp");
}

.search-result-component {
  padding-left: 42px !important;
  background-image: url("./component.webp");
}

.search-result-property {
  padding-left: 42px !important;
  background-image: url("./property.webp");
}

.search-result-event {
  padding-left: 42px !important;
  background-image: url("./event.webp");
}

.search-result-method {
  padding-left: 42px !important;
  background-image: url("./method.webp");
}